<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.modules.supervise.mapper.SuperviseMapper">

<sql id="Base_Column_List">
a.id,
a.title,
a.type,
a.describe_content,
a.publisher,
a.status,
a.create_date,
a.verifier,
a.update_date,
a.clicklike,
a.remarks,
a.create_by,
a.update_by,
a.del_flag
	
</sql>
<select id="querySupervisepage" resultType="Supervise">
select <include refid="Base_Column_List"/> from xjl_issue_info a
</select>
</mapper>