<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
          
	<!-- 短信发送 -->
	<bean id="smsDao" class="com.idea.modules.sms.dao.SmsDaoIml" />
	<bean id="smsSender" class="com.idea.core.utils.sms.sender.HuyiSmsSender" />
	<bean id="smsHelper" class="com.idea.core.disruptor.sms.SmsHelper">
	    <!-- 发送短信处理进程数 -->
		<property name="handlerCount" value="2" />
		<!-- 发送短信并发缓冲大小 -->
		<property name="bufferSize" value="1024" />
		<!-- 短信发送器 -->
		<property name="smsSender" ref="smsSender" />
		<!--响应的DAO -->
		<property name="smsDao" ref="smsDao" />
	</bean>
	
	<!-- 邮件发送 -->
	<bean id="emailDao" class="com.idea.modules.email.dao.EmailDaoIml" />
	<bean id="emailHelper" class="com.idea.core.disruptor.email.EmailHelper">
	    <!-- 发送邮件处理进程数 -->
		<property name="handlerCount" value="2" />
		<!-- 发送邮件并发缓冲大小 -->
		<property name="bufferSize" value="1024" />
		<!--响应的DAO -->
		<property name="emailDao" ref="emailDao" />
	</bean>
</beans>